
@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');



 * {
    margin: 0;
    padding: 0;
    font-family: Kode Mono;
    text-decoration: none;
} 



body{
    background-color: whitesmoke;
}

header{
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    border: 1px solid black;
    gap: 8px;
    
}

header > h2 {
    font-size: 30px;
    color: yellow;
    text-shadow: 1px 2px white; 
}

nav{
    display: flex;
    gap: 55px;
}


nav > a{
    color: yellow;
    border: 1px solid black;
}

a:hover{
    color:  gray;
}


section{
    
    height: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:whitesmoke;
    border: 1px solid white;
}

.paragraph{
    flex-direction: column;
    margin-top: 60px;
    font-size: 35px;
    align-items: center;
    margin-right: 60px;
    padding-top: 60px;
}

p{
    margin-top: 30px;
}

button {
    background: yellow;
    font-family: Kode Mono;
    font-weight: 700;
    font-size: 15px;
    border-radius: 30px;
    box-shadow: 3px 3px black;
    padding: 10px;
    display: 1;
    justify-content: center;
    align-items: center;
    margin-top: 9px;
    flex-direction: column;
    color: black;
    
  }

  button:hover{
    color: gray;
  }

  section > img {
   
        width: 300px;
        border: 12px outset yellow;
        margin-left: 50px;
        margin-top: 100px;
        margin-bottom: 100px;

  }
  
article{
    
    height:500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.about{
    justify-items: center;
    text-align: center;
    color: white;
    font-size: 30px;
    margin-bottom: 60px;
    text-shadow: 2px 3px yellow;
}

.text{
    margin-bottom: 100px;
    color: yellow;
    text-align: center;
   
}

aside{
    
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:white;
}

.skills{
    justify-items: center;
    text-align: center;
    color: black;
    font-size: 30px;
    text-shadow: 2px 3px yellow;
}

h1 > img{
    width: 50px;
    height: 50px;
}

.imagens > img{
    width: 100px;
    margin: 0px 100px 10px 0px;
    margin-top: 80px;
}

footer{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    background-color: black;
    border: 1px solid white;
}

.container > img{
    width: 30px;
    height: 30px;
}

.finish > p{
    
    color: yellow;
    font-size: 10px;
}

@media (max-width: 420px) {

    header > nav {
        display: flex;
        font-size: 13px;
        gap: 7px;

    }

    header > h2 {
        font-size: 15px;
    }

    section{
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-left: 0;
      
    }

    span{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 250px; 
    }

    section > img {
        margin-top: 50px;
        width: 250px;

    }


    article{
    
        height:800px;
        margin-top: 250px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: black;
    }
    aside{
    
        height: 900px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color:white;
    
    }

    img {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
    }


    footer{
        
        height: 500px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        background-color: black;
        border: 1px solid white;
    }




}